.menu {
	display: flex;
	justify-content: space-between;

	background-color: rgb(237, 231, 231);
	.profile {
		padding: 20px;
		height: 90vh;
		width: 20%;
		background-color: rgb(211, 205, 205);

		.profile-image {
			display: flex;
			justify-content: center;
			align-items: center;

			.image {
				height: 150px;
				width: 150px;
				border-radius: 50%;
			}
		}
	}

	.tiles {
		display: flex;
		flex-wrap: wrap;
		width: 80%;
		padding: 20px;

		.tile {
			height: 40%;
			width: 30%;
			margin-left: 10%;
			margin-right: 5%;
			margin-top: 30px;
			padding-left: 20px;
			padding-top: 0px;
			background-color: rgb(245, 240, 240);
			border-radius: 10px;
			box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

			.tilename {
				font-size: 20px;
				font-weight: bold;
			}
		}
	}
}
